<div class="container-fluid gradient-custom">
  <notifier-container></notifier-container>
  <div class="p-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 py-3 text-center">

            <div class="mb-md-1 mt-md-1 pb-2">

              <h3 class="fw-bold mb-1 text-uppercase">Criar conta - Only Chat</h3>
              <p class="text-white-50 mb-1">Por favor, informe seus dados para se cadastrar!</p>

              <div class="form-outline form-white mb-2">
                <!--Foto: <input (change)="selectFile($event)" accept="image/png, image/jpeg" type="file" id="typeFotoX" class="form-control form-control-lg" /><!-->
                Foto-url:<input [(ngModel)]="url_photo" type="text" id="typeurl_photoX" class="form-control form-control-lg" />
              </div>

              <div class="form-outline form-white mb-2">
                Email: <input [(ngModel)]="email" type="email" id="typeEmailX" class="form-control form-control-lg" />
              </div>

              <div class="form-outline form-white mb-2">
                Nome: <input [(ngModel)]="name" type="name" id="typeNameX" class="form-control form-control-lg" />
              </div>

              <div class="form-outline form-white mb-2">
                Gênero:<select [(ngModel)]="gender" class="form-select" id="typeGenerX"
                  aria-label="Default select example">
                  <option value="Feminino" selected>Feminino</option>
                  <option value="Masculino">Masculino</option>
                  <option value="Outro">Outro</option>
                </select>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="form-outline form-white mb-2">
                    Senha: <input [(ngModel)]="password" type="password" id="typePasswordX"
                      class="form-control form-control-lg" />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-outline form-white mb-2">
                    Confirme a senha: <input [(ngModel)]="confirmPassword" type="password" id="typeConfirmPasswordX"
                      class="form-control form-control-lg" />
                  </div>
                </div>
              </div>

              <button type="submit" (click)="register()"
                class="btn btn-outline-light btn-lg px-5 mt-3">Cadastrar</button>

              <div class="d-flex justify-content-center text-center pt-4 mb-0 pb-0">
                <p class="mb-0">Já tem uma conta? <a href="/login" class="text-white-50 fw-bold">Faça login</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>