<app-header></app-header>

<notifier-container></notifier-container>

<div class="container-fluid">
  <div class="row" style="height:35rem">
    <div class="col-3 p-3">
      <!--card-->
      <div class="card-responsive" style="width: 18rem;">
        <img class="card-img-top" src="{{userChatPhoto}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">{{userChatName}}</h5>
          <p class="card-title text-center">Email: {{userChatEmail}}</p>
          <p class="card-title text-center"> Gênero: {{userChatGender}}</p>
          <div class="d-flex justify-content-around mt-3">
          </div>
        </div>
      </div>

    </div>
    <div class="col-9">
      <div class="row p-3" >
        <div class="border border-primary overflow-auto" style="height:30rem">
          <div #scrollMe *ngFor="let message of messages" class="row p-1" (scrolled)="onScroll()" >
            <div *ngIf="message.contact_id.principal.id != userId; else templateName" >
              <div class="col-6 mb-1">
                <div class="message bg-primary rounded-3 text-light ps-2">{{message.message}}</div>
              </div>

              <div class="col-6 mb-1">
              </div>
            </div>

            <ng-template #templateName>
              <div class="col-6 mb-1">
              </div>

              <div class="col-6 mb-1">
                <div class="message bg-primary rounded-3 text-light ps-2">{{message.message}}</div>
              </div>
            </ng-template>

          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <div class="input-group mb-3">
            <input [(ngModel)]="messageContent" type="text" class="form-control" placeholder="Mensagem"
              aria-describedby="basic-addon2">
          </div>
        </div>
        <div class="col-2">
          <button (click)="sendMessage()" class="btn btn-success" type="button">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>