<app-header></app-header>

<notifier-container></notifier-container>

<div class="container-fluid">
  <div class="row" style="height:35rem">
    <div class="col-3 p-3">
      <!--card-->
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.rbsdirect.com.br/imagesrc/24832519.jpg?w=700" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Maria Bonita</h5>
          <div class="d-flex justify-content-around mt-3">
          </div>
        </div>
      </div>

    </div>
    <div class="col-9">
      <div class="row p-3">
        <div class="border border-primary" style="height:30rem">
          <div class="row p-1">
            <div class="col-6 mb-1">
              <div class="message bg-primary rounded-3 text-light ps-2">Alo jkdfhkjf</div>
            </div>
            <div class="col-6 mb-1">
            </div>
            <div class="col-6 mb-1">
            </div>
            <div class="col-6 mb-1">
              <div class="message bg-primary rounded-3 text-light ps-2">Alo!Lo bkjhcvheiuowhuihiuo</div>
            </div>

            <div class="col-6 mb-1">
              <div class="message bg-primary rounded-3 text-light ps-2">Alo jkdfhkjf</div>
            </div>
            <div class="col-6 mb-1">
            </div>
            <div class="col-6 mb-1">
            </div>
            <div class="col-6 mb-1">
              <div class="message bg-primary rounded-3 text-light ps-2">Alo!Lo bkjhcvheiuowhuihiuo</div>
            </div>
            <div class="col-6 mb-1">
              <div class="message bg-primary rounded-3 text-light ps-2">Alo jkdfhkjf</div>
            </div>
            <div class="col-6 mb-1">
            </div>
            <div class="col-6 mb-1">
            </div>
            <div class="col-6 mb-1">
              <div class="message bg-primary rounded-3 text-light ps-2">Alo!Lo bkjhcvheiuowhuihiuo</div>
            </div>

          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Mensagem" aria-describedby="basic-addon2">
          </div>
        </div>
        <div class="col-2">
          <a href="/addfriend" class="btn btn-success" type="button">Enviar</a>
        </div>
      </div>
    </div>
  </div>
</div>